'
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { 
  background-image: url("white-2398946_1920.jpg");
  font-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

a {
  font-family: "Abel";
  font-size: 2.5em;
  test-align: center;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
    color: #e2e2e2;
}

l {
  font-family: "Abel";
  font-size: 5.5em;
  test-align: center;
  color: #ffffff;
  text-decoration: none;
}
  
.landing {
  background-image: url("black-2362253_1920.jpg");
}

h1 {
  font-family: "Abel"; 
  font-size: 2.5em;
  test-align: center;
  color: #000000;
  text-decoration: underline;
}

h2 {
  font-family: "Abel"; 
  font-size: 1.5em;
  test-align: center;
  color: #000000;
  text-decoration: none;
}

.topcenter {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
}
