.standard {
  font-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: 'Abel';
}

.standardback {
  background-image: url("white-2398946_1920.jpg");
  height: 100%
}

.shadowback {
  background-image: url("white-2398946_1920.jpg");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 20%;
}

a:link, a:visited, a:active {
  font-family: "Abel";
  font-size: 1.5em;
  test-align: center;
  color: #474747;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
}

a.landing:link, a.landing:visited, a.landing:active {
  font-family: "Abel";
  font-size: 5em;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

a.landing:hover {
  color: #d3d3d3;
}

body.landing {
  background-image: url("black-2362253_1920.jpg");
  text-align: center;
  font-family: 'Abel';
}

.bold {
  font-weight:bold;
}

h1 {
  font-size: 5em;
  color: #474747;
  text-decoration: none;
  margin: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 2.5em;
  color: #474747;
  text-decoration: none;
  margin: 0;
  padding-top: 20;
}

h3 {
  font-size: 1.5em;
  color: #474747;
  text-decoration: none;
  margin: 0;
  padding-top: 0;
}

p {
  font-size: 1em;
  color: #474747;
  text-decoration: none;
  margin: 0;
  padding-top: 0;
}

.topcenter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: scroll;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    margin-top: 20px;
    min-width: 160px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.dropdown-content a:hover{
  color: #d3d3d3;
}

.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content,

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.white {
  text-align: left;
  overflow: scroll;
  margin-bottom: 20px;
}

.white a {
  font-size: 1em;
}

.white p {
  padding-left: 20;
  padding-right: 10;
}

.white h3 {
  padding-top: 10;
  padding-left: 10;
  padding-right: 10;
}

.white h2 {
  padding-left: 10;
}

.collection {
  padding-top: 50px;
}

.Collectioncap {
  text-align: left;
  padding-left: 35px;
}

.mogallery {
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    float: left;
}

.mogallery:hover {
    border: 1px solid #777;
}

.mogallery img {
    height: 270px;
    width: auto;
}

.landingdiv {
  margin-top: 20%;
}
