'
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body {
  background-image: url("black-2362253_1920.jpg"); 
}

a {
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  test-align: center;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
    text-align: center;
    color: #e2e2e2;
    text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
